In [1]:
import pandas as pd
from faker import Faker
import pandas as pd
import random
from random import randint
import kaggle

fake = Faker()

# seraching from web

In [2]:
def generate_custom_data(num_rows):
    data = {
        "DATE": pd.date_range(start='1/1/2021', periods=num_rows, freq='D'),
        "ITEM CODE": [f'{randint(100000, 999999)}' for _ in range(num_rows)],  # 6-digit item codes
        "actual sales": [randint(1, 100) for _ in range(num_rows)]
    }
    return pd.DataFrame(data)
    

def search_and_download_datasets():
    search_term = input("Enter your search term (e.g., medical equipment sales): ")
    
    # Searching for datasets on Kaggle
    search_result = kaggle.api.dataset_list(search=search_term)
    
    if search_result:
        print("Datasets found:")
        i=0
        j=0
        for i, dataset in enumerate(search_result[:5]):  # Display first 5 datasets found
            print(f"{i+1}. {dataset.ref} - {dataset.title}")
            i=i+1
        
        j=i+1
        print(f"{j}. Download a custom dataset ")
            
        choice=input("Which dataset you want to download(enter the number)")
        choice =int(choice)
        
        if choice == j:
            fake_df= generate_custom_data(100)
            fake_df.to_csv('C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads/dataset.csv', index=False)     
            print("Custom dataset saved")
        else:

            dataset_to_download = search_result[choice-1].ref  
            kaggle.api.dataset_download_files(dataset_to_download, path='Downloads', unzip=True)
            print(f"Downloaded {dataset_to_download}")
#             # Example: Download the first dataset found (be mindful of the dataset size and terms)
    else:
        print("No datasets found. Try refining your search term.")
        print("Generaing a custom dataset")
        fake_df2= generate_custom_data(100)
        fake_df2.to_csv('C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads/dataset.csv', index=False)     
        print("dataset saved")

if __name__ == "__main__":
    search_and_download_datasets()

Enter your search term (e.g., medical equipment sales): vehicle sales
Datasets found:
1. syedanwarafridi/vehicle-sales-data - Vehicle Sales Data
2. msjahid/colorado-motor-vehicle-sales-data - Colorado Motor Vehicle Sales Data
3. edsonmarin/historic-sales-of-electric-vehicles - Historic sales of electric vehicles
4. austinreese/craigslist-carstrucks-data - Used Cars Dataset
5. willianoliveiragibin/electric-vehicle-population - Electric Vehicle Population
6. Download a custom dataset
Which dataset you want to download(enter the number)1
Dataset URL: https://www.kaggle.com/datasets/syedanwarafridi/vehicle-sales-data
Downloaded syedanwarafridi/vehicle-sales-data

# handling multiple files

In [3]:
import os
import glob
import pandas as pd  # Make sure to import pandas

# Define a placeholder for the generate_custom_data function if it's not defined
# You should replace this with your actual function definition
def generate_custom_data(n):
    print(f"Generating a custom dataset with {n} entries.")

downloads_folder = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads'
output_file_path = os.path.join(downloads_folder, "output.csv")  # It's good to specify the complete path including the file name for clarity

files = glob.glob(os.path.join(downloads_folder, '*'))
files = [f for f in files if os.path.isfile(f)]

if len(files) == 0:
    print("The folder is empty.")
    generate_custom_data(100)
elif len(files) == 1:
    print("There is a single file in the folder.")
else:
    print(f"There are {len(files)} files in the folder.")
    all_files = glob.glob(os.path.join(downloads_folder, "*.csv"))

    li = []

    try:
        for filename in all_files:
            df = pd.read_csv(filename, index_col=None, header=0, sep=';')
            li.append(df)

        frame = pd.concat(li, axis=0, ignore_index=True)
        # Assuming you want to save the concatenated DataFrame to a file
        frame.to_csv(output_file_path, index=False, sep=';')
        print(f"All files have been concatenated into {output_file_path}.")
    except Exception as e:
        print("There are multiple datasets which cannot be concatenated into one due to the following error:", e)
        print("Generating custom dataset.")
        generate_custom_data(100)

There is a single file in the folder.

# renaming to test.csv

In [4]:
# import os
# import shutil

# # Path to the Downloads directory where the file to rename is located
# downloads_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads'

# # List all files in the Downloads directory
# downloaded_files = os.listdir(downloads_path)

# # Assuming there is only one file in the directory or you're only interested in the first .csv file
# for file in downloaded_files:
#     if file.endswith('.csv'):
#         original_file_path = os.path.join(downloads_path, file)
#         new_file_name = 'test.csv'
#         new_file_path = os.path.join(downloads_path, new_file_name)
#         try:
#             # Rename the file
#             os.rename(original_file_path, new_file_path)
#             print(f"File {file} has been renamed to {new_file_name}")
#             break  # If the renaming is done, exit the loop
#         except FileNotFoundError:
#             print(f"The file {original_file_path} does not exist.")
#         except Exception as e:
#             print(f"An error occurred: {e}")
#         break  # Exit the loop after trying to rename the first .csv file found
# else:
#     # If no .csv files were found in the loop
#     print("No .csv files found in the directory.")

import os

# Path to the Downloads directory where the files to rename are located
downloads_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads'

# List all files in the Downloads directory
downloaded_files = os.listdir(downloads_path)

# New file names we want to use if they're not already taken
new_csv_file_name = 'test.csv'
new_excel_file_name = 'test.xlsx'

# Paths to the new files
new_csv_file_path = os.path.join(downloads_path, new_csv_file_name)
new_excel_file_path = os.path.join(downloads_path, new_excel_file_name)

# Check if 'test.csv' already exists
if os.path.exists(new_csv_file_path):
    print(f"A file named {new_csv_file_name} already exists.")
else:
    # Rename the first .csv file found
    for file in downloaded_files:
        if file.endswith('.csv'):
            original_file_path = os.path.join(downloads_path, file)
            try:
                os.rename(original_file_path, new_csv_file_path)
                print(f"File {file} has been renamed to {new_csv_file_name}")
                break
            except FileNotFoundError:
                print(f"The file {original_file_path} does not exist.")
            except Exception as e:
                print(f"An error occurred: {e}")
            break

# Now check if 'test.xlsx' already exists
if os.path.exists(new_excel_file_path):
    print(f"A file named {new_excel_file_name} already exists.")
else:
    # Rename the first .xls or .xlsx file found
    for file in downloaded_files:
        if file.endswith('.xls') or file.endswith('.xlsx'):
            original_file_path = os.path.join(downloads_path, file)
            try:
                os.rename(original_file_path, new_excel_file_path)
                print(f"File {file} has been renamed to {new_excel_file_name}")
                break
            except FileNotFoundError:
                print(f"The file {original_file_path} does not exist.")
            except Exception as e:
                print(f"An error occurred: {e}")
            break

File car_prices.csv has been renamed to test.csv

In [5]:
import os
import pandas as pd

folder_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads'

# Get the list of files in the folder
files = os.listdir(folder_path)

# Check each file's extension and read it accordingly
for file in files:
    file_path = os.path.join(folder_path, file)
    if file.endswith('.csv'):
        try:
            df = pd.read_csv(file_path, encoding='utf-8')
        except UnicodeDecodeError:
            df = pd.read_csv(file_path, encoding='latin1')
        # Do something with the CSV file
    elif file.endswith('.xlsx'):
        df = pd.read_excel(file_path)
        # Do something with the Excel file
    else:
        print(f"Unsupported file format: {file}")

In [6]:


df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [7]:
if 'sales' in df.columns and 'price' in df.columns:
    df=df.drop('price',axis=1)
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

# nlp tokkenisation to find the column called sales

In [8]:
import pandas as pd
import nltk
from nltk.corpus import wordnet

# Ensure you have the necessary nltk datasets downloaded
# nltk.download('wordnet')
# nltk.download('omw-1.4')

In [9]:
from nltk.corpus import wordnet

import re

def find_synonyms(words):
    synonyms = set()
    for word in words:
        for syn in wordnet.synsets(word):
            for lemma in syn.lemmas():
                synonyms.add(lemma.name().replace('_', ' '))
    return synonyms

# Find synonyms of "sale" and "price"
words_to_find_synonyms_for = ["sale", "price"]
combined_synonyms = find_synonyms(words_to_find_synonyms_for)

# Adding 'sales' in case it's not included through wordnet
combined_synonyms.add('sales')

# Function to check if a column name is related to "sale" or "price"
def is_related(column_name):
    # Define patterns to exclude specific column names like 'retail_price'
    excluded_patterns = [
        '^retail.*',  # Starts with 'retail'
        '^wholesale.*',  # Starts with 'wholesale'
        '.*_price$',  # Ends with '_price'
        # Add more patterns as necessary
    ]

    # Convert column name to lowercase and replace underscores with spaces
    column_name = column_name.lower().replace('_', ' ')

    # Check for excluded patterns
    for pattern in excluded_patterns:
        if re.match(pattern, column_name):
            return False

    # Check if the column name contains 'amount' or any synonym of "sale" or "price"
    if "amount" == column_name or any(synonym == column_name for synonym in combined_synonyms):
        return True

    return False

# Assuming 'df' is your DataFrame
columns_to_rename = {}
for col in df.columns:
    if is_related(col):
        columns_to_rename[col] = 'actual sales'

# Rename columns using the dictionary to handle potential multiple matches
df.rename(columns=columns_to_rename, inplace=True)

print(df.head())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          LX    SUV    automatic
1  2015    Kia              Sorento          LX    SUV    automatic
2  2014    BMW             3 Series  328i SULEV  Sedan    automatic
3  2015  Volvo                  S60          T5  Sedan    automatic
4  2014    BMW  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

# currency conversion to INR

In [10]:
if 'actual sales' in df.columns:
    
    first_value = str(df['actual sales'].iloc[0])
    if first_value.startswith('$'):
        exchange_rate = 75  # Define the exchange rate from USD to INR

        def dollars_to_rupees(value):
            # This function checks if a value is a dollar amount and converts it to rupees.
            if isinstance(value, str) and value.startswith('$'):
                # Remove the dollar sign and commas, then convert to float
                numeric_value = float(value.replace('$', '').replace(',', ''))
                # Convert the dollar amount to rupees
                return numeric_value * exchange_rate
            elif isinstance(value, str):
                # If value is a string but not in dollars, just remove commas
                value_no_commas = value.replace(',', '') 
                return float(value_no_commas)
            else:
                # If value is already a number, return it as is.
                return value

        # Apply the function to the 'actual sales' column for conversion
        df['actual sales'] = df['actual sales'].apply(dollars_to_rupees)

    print(df)

In [11]:
df.tail()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [12]:
def generate_custom_data(num_rows):
    data = {
        "DATE": pd.date_range(start='1/1/2021', periods=num_rows, freq='D'),
        "ITEM CODE": [f'{randint(100000, 999999)}' for _ in range(num_rows)],  # 6-digit item codes
        "actual sales": [randint(1, 100) for _ in range(num_rows)]
    }
    return pd.DataFrame(data)

if 'actual sales' not in df.columns:
    # Column not found, so we generate a new dataframe
    df = generate_custom_data(100)
    
    # Remove the original test.csv file
#     file_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads/test.csv'
#     os.remove(file_path)
    
#     # Save the newly generated dataframe as test.csv in the same location
#     df.to_csv(file_path, index=False)  # index=False to avoid saving the index column
    
#     print("Original file removed and new data saved as test.csv.")
# else:
#     print("Column 'actual sales' exists in the dataframe.")

In [13]:
def generate_custom_data(num_rows):
    data = {
        "DATE": pd.date_range(start='1/1/2021', periods=num_rows, freq='D'),
        "ITEM CODE": [f'{randint(100000, 999999)}' for _ in range(num_rows)],  # 6-digit item codes
        "actual sales": [randint(1, 100) for _ in range(num_rows)]
    }
    return pd.DataFrame(data)

# actual_sales_cols = [col for col in df.columns if col == 'actual sales']
# if len(actual_sales_cols) > 1:
#     # Check which 'actual sales' columns have numeric data types
#     numeric_cols = [col for col in actual_sales_cols if pd.api.types.is_numeric_dtype(df[col])]
    
#     if len(numeric_cols) == 0:
#         print("No numeric 'actual sales' columns to keep.")
#     else:
#         # If there are non-numeric 'actual sales' columns, drop them
#         if len(numeric_cols) < len(actual_sales_cols):
#             non_numeric_cols = list(set(actual_sales_cols) - set(numeric_cols))
#             df = df.drop(columns=non_numeric_cols)
#             print(f"Dropped non-numeric 'actual sales' columns: {non_numeric_cols}")
        
#         # If all 'actual sales' columns are numeric or after dropping non-numeric ones
#         # Keep only the first 'actual sales' column and drop the rest
#         df = df.loc[:, ~df.columns.duplicated(keep='first')]
#         print("Kept only one 'actual sales' column and dropped any duplicates.")
# if len(actual_sales_cols)==1:
#     non_numeric_mask = pd.to_numeric(df['actual sales'], errors='coerce').isnull()

#     if non_numeric_mask.any():
#         print("There are non-numeric values in the 'actual sales' column.")
#         # Call generate_dataset() function
#         df=generate_custom_data(100)



# actual_sales_cols = [col for col in df.columns if col == 'actual sales']

# if len(actual_sales_cols) > 0:
#     # Check which 'actual sales' columns have numeric data types
#     numeric_cols = [col for col in actual_sales_cols if pd.api.types.is_numeric_dtype(df[col])]
    
#     if len(numeric_cols) == 0:
#         print("No numeric 'actual sales' columns to keep.")
#     else:
#         # If there are non-numeric 'actual sales' columns, drop them
#         if len(numeric_cols) < len(actual_sales_cols):
#             non_numeric_cols = list(set(actual_sales_cols) - set(numeric_cols))
#             df = df.drop(columns=non_numeric_cols)
#             print(f"Dropped non-numeric 'actual sales' columns: {non_numeric_cols}")
        
#         # If only one 'actual sales' column remains and it's numeric, check for non-numeric values
#         if len(numeric_cols) == 1:
#             non_numeric_mask = pd.to_numeric(df['actual sales'], errors='coerce').isnull()
#             if non_numeric_mask.any():
#                 print("There are non-numeric values in the 'actual sales' column.")
#                 # Do not call generate_custom_data function since the column is numeric
#             else:
#                 print("The 'actual sales' column is numeric with no non-numeric values.")
                
#         # If there are multiple numeric 'actual sales' columns, keep only the first one and drop the rest
#         df = df.loc[:, ~df.columns.duplicated(keep='first')]
#         print("Kept only one 'actual sales' column and dropped any duplicates.")



import pandas as pd

# Define a function to check if a column has only numeric data
# Now it explicitly expects a pandas Series as an argument
def is_numeric_column(col: pd.Series) -> bool:
    return pd.to_numeric(col, errors='coerce').notna().all()

# Identify columns containing "actual sales"
actual_sales_columns = [col for col in df.columns if "actual sales" in col.lower()]

# Remove non-numeric "actual sales" columns
for col in actual_sales_columns:
    if not is_numeric_column(df[col]):
        df.drop(col, axis=1, inplace=True)

# Refresh the list of actual sales columns after removal
actual_sales_columns = [col for col in df.columns if "actual sales" in col.lower()]

# Check if no "actual sales" columns are left
if not actual_sales_columns:
    generate_custom_data(100)
else:
    # If multiple "actual sales" columns remain and are numeric, keep only the first one
    if len(actual_sales_columns) > 1:
        df.drop(actual_sales_columns[1:], axis=1, inplace=True)

# Check the DataFrame after operations
print(df.head())

        DATE ITEM CODE  actual sales
0 2021-01-01    278073            24
1 2021-01-02    618632            29
2 2021-01-03    279920            32
3 2021-01-04    456503            87
4 2021-01-05    384591            65

In [14]:
df.head()

        DATE ITEM CODE  actual sales
0 2021-01-01    278073            24
1 2021-01-02    618632            29
2 2021-01-03    279920            32
3 2021-01-04    456503            87
4 2021-01-05    384591            65

# generating forecasted column

In [15]:
# Creating a sample DataFrame with a column 'actual sales' for demonst
# df = pd.DataFrame(data)
import numpy as np
import pandas as pd # Assuming you're using pandas for DataFrame operations

# Generating 'forecast sales' with the same number of digits as 'actual sales' (ignoring decimals)
def forecast_sales(number):
    if pd.isnull(number):  # Check if the number is NaN
        return np.nan  # Return NaN if the input is NaN
    
    int_part = int(round(number))  # Convert number to int while properly handling floats
    num_digits = len(str(int_part))  # Get the number of digits in the integer part
    
    if num_digits == 1:
        return np.random.randint(0, 10)
    
    random_number_str = str(np.random.randint(1, 10))  # Ensure the first digit is not zero
    for _ in range(num_digits - 1):
        random_number_str += str(np.random.randint(0, 10))
    
    return int(random_number_str)

# Assuming df is your DataFrame and 'actual sales' is the column you're working with
# You might need to ensure df is defined. For example:
# df = pd.DataFrame({'actual sales': [123.45, 6789.01, np.nan, 23.0]})

# Apply the forecast_sales function to each row in 'actual sales'
df['forecast sales'] = df['actual sales'].apply(forecast_sales)

In [16]:
df.tail()

         DATE ITEM CODE  actual sales  forecast sales
95 2021-04-06    518772            70              45
96 2021-04-07    656732            62              81
97 2021-04-08    927107            69              99
98 2021-04-09    768328            13              64
99 2021-04-10    196307            57              86

In [17]:
# actual_sales_cols = [col for col in df.columns if col == 'actual sales']
# if len(actual_sales_cols) > 1:
#     # Check which 'actual sales' columns have numeric data types
#     numeric_cols = [col for col in actual_sales_cols if pd.api.types.is_numeric_dtype(df[col])]
    
#     if len(numeric_cols) == 0:
#         print("No numeric 'actual sales' columns to keep.")
#     else:
#         # If there are non-numeric 'actual sales' columns, drop them
#         if len(numeric_cols) < len(actual_sales_cols):
#             non_numeric_cols = list(set(actual_sales_cols) - set(numeric_cols))
#             df = df.drop(columns=non_numeric_cols)
#             print(f"Dropped non-numeric 'actual sales' columns: {non_numeric_cols}")
        
#         # If all 'actual sales' columns are numeric or after dropping non-numeric ones
#         # Keep only the first 'actual sales' column and drop the rest
#         df = df.loc[:, ~df.columns.duplicated(keep='first')]
#         print("Kept only one 'actual sales' column and dropped any duplicates.")

# # The modified DataFrame is now in df with only one 'actual sales' column
# print(df.head())

In [18]:
# if 'actual sales' not in df.columns:
#     # Column not found, so we generate a new dataframe
#     df = generate_custom_data(100)
    
#     # Remove the original test.csv file
#     file_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads/test.csv'
#     os.remove(file_path)
    
#     # Save the newly generated dataframe as test.csv in the same location
#     df.to_csv(file_path, index=False)  # index=False to avoid saving the index column
    
#     print("Original file removed and new data saved as test.csv.")
# else:
#     print("Column 'actual sales' exists in the dataframe.")