In [1]:
import pandas as pd
from faker import Faker
import pandas as pd
import random
from random import randint
import kaggle

fake = Faker()

# seraching from web

In [2]:
def generate_custom_data(num_rows):
    data = {
        "DATE": pd.date_range(start='1/1/2021', periods=num_rows, freq='D'),
        "ITEM CODE": [f'{randint(100000, 999999)}' for _ in range(num_rows)],  # 6-digit item codes
        "actual sales": [randint(1, 1000) for _ in range(num_rows)]
    }
    return pd.DataFrame(data)
    

def search_and_download_datasets():
    search_term = input("Enter your search term (e.g., medical equipment sales): ")
    
    # Searching for datasets on Kaggle
    search_result = kaggle.api.dataset_list(search=search_term)
    
    if search_result:
        print("Datasets found:")
        i=0
        j=0
        for i, dataset in enumerate(search_result[:5]):  # Display first 5 datasets found
            print(f"{i+1}. {dataset.ref} - {dataset.title}")
            i=i+1
        
        j=i+1
        print(f"{j}. Download a custom dataset ")
            
        choice=input("Which dataset you want to download(enter the number)")
        choice =int(choice)
        
        if choice == j:
            fake_df= generate_custom_data(100)
            fake_df.to_csv('C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads/dataset.csv', index=False)     
            print("Custom dataset saved")
        else:

            dataset_to_download = search_result[choice-1].ref  
            kaggle.api.dataset_download_files(dataset_to_download, path='Downloads', unzip=True)
            print(f"Downloaded {dataset_to_download}")
#             # Example: Download the first dataset found (be mindful of the dataset size and terms)
    else:
        print("No datasets found. Try refining your search term.")
        print("Generaing a custom dataset")
        fake_df2= generate_custom_data(100)
        fake_df2.to_csv('C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads/dataset.csv', index=False)     
        print("dataset saved")

if __name__ == "__main__":
    search_and_download_datasets()

Enter your search term (e.g., medical equipment sales): dairy product sales
Datasets found:
1. suraj520/dairy-goods-sales-dataset - Dairy Goods Sales Dataset
2. sohier/weekly-dairy-product-prices - Weekly Dairy Product Prices
3. agatii/total-sale-2018-yearly-data-of-grocery-shop - TOTAL SALE 2018 Yearly data of grocery shop.
4. chronozone/indonesian-stocks - Indonesian Stocks
5. Download a custom dataset
Which dataset you want to download(enter the number)1
Dataset URL: https://www.kaggle.com/datasets/suraj520/dairy-goods-sales-dataset
Downloaded suraj520/dairy-goods-sales-dataset

# handling multiple files

In [3]:
import os
import glob
import pandas as pd  # Make sure to import pandas

# Define a placeholder for the generate_custom_data function if it's not defined
# You should replace this with your actual function definition
def generate_custom_data(n):
    print(f"Generating a custom dataset with {n} entries.")

downloads_folder = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads'
output_file_path = os.path.join(downloads_folder, "output.csv")  # It's good to specify the complete path including the file name for clarity

files = glob.glob(os.path.join(downloads_folder, '*'))
files = [f for f in files if os.path.isfile(f)]

if len(files) == 0:
    print("The folder is empty.")
    generate_custom_data(100)
elif len(files) == 1:
    print("There is a single file in the folder.")
else:
    print(f"There are {len(files)} files in the folder.")
    all_files = glob.glob(os.path.join(downloads_folder, "*.csv"))

    li = []

    try:
        for filename in all_files:
            df = pd.read_csv(filename, index_col=None, header=0, sep=';')
            li.append(df)

        frame = pd.concat(li, axis=0, ignore_index=True)
        # Assuming you want to save the concatenated DataFrame to a file
        frame.to_csv(output_file_path, index=False, sep=';')
        print(f"All files have been concatenated into {output_file_path}.")
    except Exception as e:
        print("There are multiple datasets which cannot be concatenated into one due to the following error:", e)
        print("Generating custom dataset.")
        df=generate_custom_data(100)

There is a single file in the folder.

# renaming to test.csv

In [4]:
# import os
# import shutil

# # Path to the Downloads directory where the file to rename is located
# downloads_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads'

# # List all files in the Downloads directory
# downloaded_files = os.listdir(downloads_path)

# # Assuming there is only one file in the directory or you're only interested in the first .csv file
# for file in downloaded_files:
#     if file.endswith('.csv'):
#         original_file_path = os.path.join(downloads_path, file)
#         new_file_name = 'test.csv'
#         new_file_path = os.path.join(downloads_path, new_file_name)
#         try:
#             # Rename the file
#             os.rename(original_file_path, new_file_path)
#             print(f"File {file} has been renamed to {new_file_name}")
#             break  # If the renaming is done, exit the loop
#         except FileNotFoundError:
#             print(f"The file {original_file_path} does not exist.")
#         except Exception as e:
#             print(f"An error occurred: {e}")
#         break  # Exit the loop after trying to rename the first .csv file found
# else:
#     # If no .csv files were found in the loop
#     print("No .csv files found in the directory.")

import os

# Path to the Downloads directory where the files to rename are located
downloads_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads'

# List all files in the Downloads directory
downloaded_files = os.listdir(downloads_path)

# New file names we want to use if they're not already taken
new_csv_file_name = 'test.csv'
new_excel_file_name = 'test.xlsx'

# Paths to the new files
new_csv_file_path = os.path.join(downloads_path, new_csv_file_name)
new_excel_file_path = os.path.join(downloads_path, new_excel_file_name)

# Check if 'test.csv' already exists
if os.path.exists(new_csv_file_path):
    print(f"A file named {new_csv_file_name} already exists.")
else:
    # Rename the first .csv file found
    for file in downloaded_files:
        if file.endswith('.csv'):
            original_file_path = os.path.join(downloads_path, file)
            try:
                os.rename(original_file_path, new_csv_file_path)
                print(f"File {file} has been renamed to {new_csv_file_name}")
                break
            except FileNotFoundError:
                print(f"The file {original_file_path} does not exist.")
            except Exception as e:
                print(f"An error occurred: {e}")
            break

# Now check if 'test.xlsx' already exists
if os.path.exists(new_excel_file_path):
    print(f"A file named {new_excel_file_name} already exists.")
else:
    # Rename the first .xls or .xlsx file found
    for file in downloaded_files:
        if file.endswith('.xls') or file.endswith('.xlsx'):
            original_file_path = os.path.join(downloads_path, file)
            try:
                os.rename(original_file_path, new_excel_file_path)
                print(f"File {file} has been renamed to {new_excel_file_name}")
                break
            except FileNotFoundError:
                print(f"The file {original_file_path} does not exist.")
            except Exception as e:
                print(f"An error occurred: {e}")
            break

File dairy_dataset.csv has been renamed to test.csv

In [5]:
def generate_custom_data(num_rows):
    data = {
        "DATE": pd.date_range(start='1/1/2021', periods=num_rows, freq='D'),
        "ITEM CODE": [f'{randint(100000, 999999)}' for _ in range(num_rows)],  # 6-digit item codes
        "actual sales": [randint(1, 1000) for _ in range(num_rows)]
    }
    return pd.DataFrame(data)

# Define the path to the folder containing the files
folder_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads'

# Define your custom function here (or make sure it's imported if defined elsewhere)


# Get the list of files in the folder
files = os.listdir(folder_path)

# Check each file's extension and read it accordingly
for file in files:
    try:  # Use a try block to catch any kind of error
        file_path = os.path.join(folder_path, file)
        if file.endswith('.csv'):
            try:
                df = pd.read_csv(file_path, encoding='utf-8')
            except UnicodeDecodeError:
                df = pd.read_csv(file_path, encoding='latin1')
            # Do something with the CSV file
        elif file.endswith('.xlsx'):
            df = pd.read_excel(file_path)
            # Do something with the Excel file
        else:
            print(f"Unsupported file format: {file}")
            print("Reading the test file which is generated")
    except Exception as e:  # Catch any other exception that occurs
        print(f"Reading the csv file generated")
        df=generate_custom_data(100)  # Call your custom error-handling function

In [6]:


df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

In [7]:
if 'sales' in df.columns and 'price' in df.columns:
    df=df.drop('price',axis=1)
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

# nlp tokkenisation to find the column called sales

In [8]:
import pandas as pd
import nltk
from nltk.corpus import wordnet

# Ensure you have the necessary nltk datasets downloaded
# nltk.download('wordnet')
# nltk.download('omw-1.4')

In [9]:
from nltk.corpus import wordnet
import re

def find_synonyms(words):
    synonyms = set()
    for word in words:
        for syn in wordnet.synsets(word):
            for lemma in syn.lemmas():
                # Add synonyms, replacing underscores with spaces
                synonyms.add(lemma.name().replace('_', ' '))
    return synonyms

# Find synonyms of "sale" and "price"
words_to_find_synonyms_for = ["sale", "price"]
combined_synonyms = find_synonyms(words_to_find_synonyms_for)

# Ensure 'sales' is included in the synonyms
combined_synonyms.add('sales')

def is_related(column_name):
    # Define patterns to exclude specific column names
    excluded_patterns = [
        '^retail.*',  # Starts with 'retail'
        '^wholesale.*',  # Starts with 'wholesale'
        '.*_price$',  # Ends with '_price'
        # Additional patterns can be added as needed
    ]

    # Convert column name to lowercase and replace underscores with spaces
    column_name = column_name.lower().replace('_', ' ')

    # Check for excluded patterns first
    for pattern in excluded_patterns:
        if re.match(pattern, column_name):
            return False

    # Check if the column name contains terms or synonyms related to "sale" or "price"
    related_terms = ['sale', 'sales', 'price', 'amount'] + list(combined_synonyms)
    if any(term in column_name for term in related_terms):
        return True

    return False

# Prepare the dictionary for renaming columns based on the related criteria
columns_to_rename = {}
for col in df.columns:
    if is_related(col):
        columns_to_rename[col] = 'actual sales'

# Rename columns in the DataFrame as per the dictionary
df.rename(columns=columns_to_rename, inplace=True)

# Assuming you want to see the first few rows of the modified DataFrame
print(df.head())

        Location  Total Land Area (acres)  Number of Cows Farm Size  \
0      Telangana                   310.84              96    Medium
1  Uttar Pradesh                    19.19              44     Large
2     Tamil Nadu                   581.69              24    Medium
3      Telangana                   908.00              89     Small
4    Maharashtra                   861.95              21    Medium

         Date  Product ID Product Name                 Brand  \
0  2022-02-17           5    Ice Cream           Dodla Dairy
1  2021-12-01           1         Milk                  Amul
2  2022-02-28           4       Yogurt           Dodla Dairy
3  2019-06-09           3       Cheese  Britannia Industries
4  2020-12-14           8   Buttermilk          Mother Dairy

   Quantity (liters/kg)  actual sales  ...  Production Date  Expiration Date  \
0                222.40         85.72  ...       2021-12-27       2022-01-21
1                687.48         42.61  ...       2021-10-03       2021-10-25
2                503.48         36.50  ...       2022-01-14       2022-02-13
3                823.36         26.52  ...       2019-05-15       2019-07-26
4                147.77         83.85  ...       2020-10-17       2020-10-28

  Quantity Sold (liters/kg)  actual sales Approx. Total Revenue(INR)  \
0                         7         82.24                     575.68
1                       558         39.24                   21895.92
2                       256         33.81                    8655.36
3                       601         28.92                   17380.92
4                       145         83.07                   12045.15

   Customer Location  actual sales  Quantity in Stock (liters/kg)  \
0     Madhya Pradesh     Wholesale                            215
1             Kerala     Wholesale                            129
2     Madhya Pradesh        Online                            247
3          Rajasthan        Online                            222
4          Jharkhand        Retail                              2

  Minimum Stock Threshold (liters/kg) Reorder Quantity (liters/kg)
0                               19.55                        64.03
1                               43.17                       181.10
2                               15.10                       140.83
3                               74.50                        57.68
4                               76.02                        33.40

[5 rows x 23 columns]

# currency conversion to INR

In [10]:
if 'actual sales' in df.columns:
    
    first_value = str(df['actual sales'].iloc[0])
    if first_value.startswith('$'):
        exchange_rate = 75  # Define the exchange rate from USD to INR

        def dollars_to_rupees(value):
            # This function checks if a value is a dollar amount and converts it to rupees.
            if isinstance(value, str) and value.startswith('$'):
                # Remove the dollar sign and commas, then convert to float
                numeric_value = float(value.replace('$', '').replace(',', ''))
                # Convert the dollar amount to rupees
                return numeric_value * exchange_rate
            elif isinstance(value, str):
                # If value is a string but not in dollars, just remove commas
                value_no_commas = value.replace(',', '') 
                return float(value_no_commas)
            else:
                # If value is already a number, return it as is.
                return value

        # Apply the function to the 'actual sales' column for conversion
        df['actual sales'] = df['actual sales'].apply(dollars_to_rupees)

    print(df)

           Location  Total Land Area (acres)  Number of Cows Farm Size  \
0         Telangana                   310.84              96    Medium
1     Uttar Pradesh                    19.19              44     Large
2        Tamil Nadu                   581.69              24    Medium
3         Telangana                   908.00              89     Small
4       Maharashtra                   861.95              21    Medium
...             ...                      ...             ...       ...
4320          Delhi                   748.71              89    Medium
4321      Jharkhand                   385.91              29     Large
4322     Chandigarh                   311.54              65     Small
4323    Maharashtra                   890.55              90     Small
4324      Rajasthan                   492.86              58     Large

            Date  Product ID Product Name                 Brand  \
0     2022-02-17           5    Ice Cream           Dodla Dairy
1     2021-12-01           1         Milk                  Amul
2     2022-02-28           4       Yogurt           Dodla Dairy
3     2019-06-09           3       Cheese  Britannia Industries
4     2020-12-14           8   Buttermilk          Mother Dairy
...          ...         ...          ...                   ...
4320  2022-02-24           6         Curd          Mother Dairy
4321  2022-05-14           4       Yogurt          Palle2patnam
4322  2020-01-05           6         Curd          Mother Dairy
4323  2022-10-25           6         Curd                   Raj
4324  2019-01-20           1         Milk          Mother Dairy

      Quantity (liters/kg)  actual sales  ...  Production Date  \
0                   222.40         85.72  ...       2021-12-27
1                   687.48         42.61  ...       2021-10-03
2                   503.48         36.50  ...       2022-01-14
3                   823.36         26.52  ...       2019-05-15
4                   147.77         83.85  ...       2020-10-17
...                    ...           ...  ...              ...
4320                554.90         88.45  ...       2022-02-16
4321                818.33         55.35  ...       2022-03-22
4322                583.56         92.61  ...       2020-01-04
4323                  3.10         15.30  ...       2022-10-02
4324                820.50         49.31  ...       2019-01-06

      Expiration Date Quantity Sold (liters/kg)  actual sales  \
0          2022-01-21                         7         82.24
1          2021-10-25                       558         39.24
2          2022-02-13                       256         33.81
3          2019-07-26                       601         28.92
4          2020-10-28                       145         83.07
...               ...                       ...           ...
4320       2022-02-21                       352         87.20
4321       2022-04-14                        68         58.39
4322       2020-01-11                       141         89.46
4323       2022-10-09                         2         10.56
4324       2019-01-07                       417         44.55

     Approx. Total Revenue(INR)  Customer Location  actual sales  \
0                        575.68     Madhya Pradesh     Wholesale
1                      21895.92             Kerala     Wholesale
2                       8655.36     Madhya Pradesh        Online
3                      17380.92          Rajasthan        Online
4                      12045.15          Jharkhand        Retail
...                         ...                ...           ...
4320                   30694.40      Uttar Pradesh        Online
4321                    3970.52             Kerala        Retail
4322                   12613.86            Haryana        Retail
4323                      21.12          Jharkhand     Wholesale
4324                   18577.35     Madhya Pradesh        Online

      Quantity in Stock (liters/kg) Minimum Stock Threshold (liters/kg)  \
0                               215                               19.55
1                               129                               43.17
2                               247                               15.10
3                               222                               74.50
4                                 2                               76.02
...                             ...                                 ...
4320                            202                               98.07
4321                            750                               87.41
4322                            442                               33.47
4323                              1                               58.25
4324                            403                               22.34

     Reorder Quantity (liters/kg)
0                           64.03
1                          181.10
2                          140.83
3                           57.68
4                           33.40
...                           ...
4320                        33.53
4321                       114.37
4322                       153.66
4323                       160.84
4324                       189.63

[4325 rows x 23 columns]

In [11]:
df.tail()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),actual sales,...,Production Date,Expiration Date,Quantity Sold (liters/kg),actual sales,Approx. Total Revenue(INR),Customer Location,actual sales,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
4320,Delhi,748.71,89,Medium,2022-02-24,6,Curd,Mother Dairy,554.90,88.45,...,2022-02-16,2022-02-21,352,87.20,30694.40,Uttar Pradesh,Online,202,98.07,33.53
4321,Jharkhand,385.91,29,Large,2022-05-14,4,Yogurt,Palle2patnam,818.33,55.35,...,2022-03-22,2022-04-14,68,58.39,3970.52,Kerala,Retail,750,87.41,114.37
4322,Chandigarh,311.54,65,Small,2020-01-05,6,Curd,Mother Dairy,583.56,92.61,...,2020-01-04,2020-01-11,141,89.46,12613.86,Haryana,Retail,442,33.47,153.66
4323,Maharashtra,890.55,90,Small,2022-10-25,6,Curd,Raj,3.10,15.30,...,2022-10-02,2022-10-09,2,10.56,21.12,Jharkhand,Wholesale,1,58.25,160.84
4324,Rajasthan,492.86,58,Large,2019-01-20,1,Milk,Mother Dairy,820.50,49.31,...,2019-01-06,2019-01-07,417,44.55,18577.35,Madhya Pradesh,Online,403,22.34,189.63

In [12]:
def generate_custom_data(num_rows):
    data = {
        "DATE": pd.date_range(start='1/1/2021', periods=num_rows, freq='D'),
        "ITEM CODE": [f'{randint(100000, 999999)}' for _ in range(num_rows)],  # 6-digit item codes
        "actual sales": [randint(1, 1000) for _ in range(num_rows)]
    }
    return pd.DataFrame(data)

if 'actual sales' not in df.columns:
    # Column not found, so we generate a new dataframe
    df = generate_custom_data(100)
    
    # Remove the original test.csv file
#     file_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads/test.csv'
#     os.remove(file_path)
    
#     # Save the newly generated dataframe as test.csv in the same location
#     df.to_csv(file_path, index=False)  # index=False to avoid saving the index column
    
#     print("Original file removed and new data saved as test.csv.")
# else:
#     print("Column 'actual sales' exists in the dataframe.")

In [13]:
def generate_custom_data(num_rows):
    data = {
        "DATE": pd.date_range(start='1/1/2021', periods=num_rows, freq='D'),
        "ITEM CODE": [f'{randint(100000, 999999)}' for _ in range(num_rows)],  # 6-digit item codes
        "actual sales": [randint(1, 1000) for _ in range(num_rows)]
    }
    return pd.DataFrame(data)

In [14]:
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),actual sales,...,Production Date,Expiration Date,Quantity Sold (liters/kg),actual sales,Approx. Total Revenue(INR),Customer Location,actual sales,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

In [15]:
df.columns

Index(['Location', 'Total Land Area (acres)', 'Number of Cows', 'Farm Size',
       'Date', 'Product ID', 'Product Name', 'Brand', 'Quantity (liters/kg)',
       'actual sales', 'Total Value', 'Shelf Life (days)', 'Storage Condition',
       'Production Date', 'Expiration Date', 'Quantity Sold (liters/kg)',
       'actual sales', 'Approx. Total Revenue(INR)', 'Customer Location',
       'actual sales', 'Quantity in Stock (liters/kg)',
       'Minimum Stock Threshold (liters/kg)', 'Reorder Quantity (liters/kg)'],
      dtype='object')

In [16]:
# print(type(df.iloc[0,14]))

In [17]:
# # count = 0
# # for column_name in df.columns:
# #     if column_name=='actual sales':
# #         var=type(df.iloc[0,count])
# #         if var == str:
# #             df.drop(df.columns[count],axis=1,inplace=True)

# # #             df.rename(columns={df.columns[count]: 'actaul sales2'}, inplace=True)
# #             print(var)
# #             print("the column is ",count)
# #             print("yes the column is deleted")
# #         count=count+1
# #     else:
# #         count=count+1

# # Create a DataFrame, transposing it to make duplicate handling easier
# df2 = pd.DataFrame(df).T

# # Fix duplicate columns by appending an index to duplicates
# df2.columns = pd.Index(df2.columns)
# new_columns = {}
# for col in df2.columns:
#     if col in new_columns:
#         new_columns[col] += 1
#         col_new = f"{col}_{new_columns[col]}"
#     else:
#         new_columns[col] = 0
#         col_new = col
#     df2.rename(columns={col: col_new}, inplace=True)

# df = df2.T  # Transpose the DataFrame back to its original form

# # Now look for the 'actual sales' columns
# columns_to_check = [col for col in df.columns if 'actual sales' in col]

# # Loop through these columns and drop the one where the first item is not a number
# for column_name in columns_to_check:
#     print(column_name, ":", df[column_name].iloc[0])
    
#     # Check if the first item in the column is not a number
#     if not isinstance(df[column_name].iloc[0], (int, float)):
#         df.drop(column_name, axis=1, inplace=True)  # Drop the column
#         print("Dropped column:", column_name)

In [18]:
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),actual sales,...,Production Date,Expiration Date,Quantity Sold (liters/kg),actual sales,Approx. Total Revenue(INR),Customer Location,actual sales,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

#  Deleting the extra columns is generated

In [19]:
def generate_custom_data(num_rows):
    data = {
        "DATE": pd.date_range(start='1/1/2021', periods=num_rows, freq='D'),
        "ITEM CODE": [f'{randint(100000, 999999)}' for _ in range(num_rows)],  # 6-digit item codes
        "actual sales": [randint(1, 1000) for _ in range(num_rows)]
    }
    return pd.DataFrame(data)
# Step 1

# Step 2
if 'actual sales' not in df.columns:
    generate_custom_data(100)
else:
    # Find the index of the first occurrence of "actual_sales" column
    first_actual_sales_index = df.columns.get_loc("actual sales")

# Convert the index to a list
    index_list = df.columns.tolist()

# Filter out all columns after the first occurrence of "actual_sales"
    df = df.iloc[:, :index_list.index("actual sales")+1]

# Print the updated dataframe
    print(df)

           Location  Total Land Area (acres)  Number of Cows Farm Size  \
0         Telangana                   310.84              96    Medium
1     Uttar Pradesh                    19.19              44     Large
2        Tamil Nadu                   581.69              24    Medium
3         Telangana                   908.00              89     Small
4       Maharashtra                   861.95              21    Medium
...             ...                      ...             ...       ...
4320          Delhi                   748.71              89    Medium
4321      Jharkhand                   385.91              29     Large
4322     Chandigarh                   311.54              65     Small
4323    Maharashtra                   890.55              90     Small
4324      Rajasthan                   492.86              58     Large

            Date  Product ID Product Name                 Brand  \
0     2022-02-17           5    Ice Cream           Dodla Dairy
1     2021-12-01           1         Milk                  Amul
2     2022-02-28           4       Yogurt           Dodla Dairy
3     2019-06-09           3       Cheese  Britannia Industries
4     2020-12-14           8   Buttermilk          Mother Dairy
...          ...         ...          ...                   ...
4320  2022-02-24           6         Curd          Mother Dairy
4321  2022-05-14           4       Yogurt          Palle2patnam
4322  2020-01-05           6         Curd          Mother Dairy
4323  2022-10-25           6         Curd                   Raj
4324  2019-01-20           1         Milk          Mother Dairy

      Quantity (liters/kg)  actual sales
0                   222.40         85.72
1                   687.48         42.61
2                   503.48         36.50
3                   823.36         26.52
4                   147.77         83.85
...                    ...           ...
4320                554.90         88.45
4321                818.33         55.35
4322                583.56         92.61
4323                  3.10         15.30
4324                820.50         49.31

[4325 rows x 10 columns]

In [20]:
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),actual sales
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85

# generating forecasted column

In [21]:
# Creating a sample DataFrame with a column 'actual sales' for demonst
# df = pd.DataFrame(data)

def generate_custom_data_with_forecast(num_rows):
    data = {
        "DATE": pd.date_range(start='1/1/2021', periods=num_rows, freq='D'),
        "ITEM CODE": [f'{randint(100000, 999999)}' for _ in range(num_rows)],  # 6-digit item codes
        "actual sales": [randint(1, 1000) for _ in range(num_rows)],
        "forecasted sales":[randint(1, 1000) for _ in range(num_rows)]
    }
    return pd.DataFrame(data)
try:
    
    import numpy as np
    import pandas as pd # Assuming you're using pandas for DataFrame operations

    # Generating 'forecast sales' with the same number of digits as 'actual sales' (ignoring decimals)
    def forecast_sales(number):
        if pd.isnull(number):  # Check if the number is NaN
            return np.nan  # Return NaN if the input is NaN

        int_part = int(round(number))  # Convert number to int while properly handling floats
        num_digits = len(str(int_part))  # Get the number of digits in the integer part

        if num_digits == 1:
            return np.random.randint(0, 10)

        random_number_str = str(np.random.randint(1, 10))  # Ensure the first digit is not zero
        for _ in range(num_digits - 1):
            random_number_str += str(np.random.randint(0, 10))

        return int(random_number_str)

    # Assuming df is your DataFrame and 'actual sales' is the column you're working with
    # You might need to ensure df is defined. For example:
    # df = pd.DataFrame({'actual sales': [123.45, 6789.01, np.nan, 23.0]})

    # Apply the forecast_sales function to each row in 'actual sales'
    df['forecasted sales'] = df['actual sales'].apply(forecast_sales)
except Exception as e:
    print("The actual sales is not in a suitable format")
    print("Generating a custom dataset with forecast")
    df=generate_custom_data_with_forecast(200)

In [22]:

df.dropna(inplace=True)
df.tail()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),actual sales,forecasted sales
4320,Delhi,748.71,89,Medium,2022-02-24,6,Curd,Mother Dairy,554.90,88.45,36
4321,Jharkhand,385.91,29,Large,2022-05-14,4,Yogurt,Palle2patnam,818.33,55.35,22
4322,Chandigarh,311.54,65,Small,2020-01-05,6,Curd,Mother Dairy,583.56,92.61,22
4323,Maharashtra,890.55,90,Small,2022-10-25,6,Curd,Raj,3.10,15.30,20
4324,Rajasthan,492.86,58,Large,2019-01-20,1,Milk,Mother Dairy,820.50,49.31,39

In [27]:
import pandas as pd
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
import numpy as np

# # Define custom evaluation metrics
# def mean_absolute_percentage_error(y_true, y_pred):
#     return np.mean(np.abs(y_true - y_pred) / y_true) * 100

# def weighted_mean_absolute_percentage_error(y_true, y_pred):
#     #weights = np.abs(y_true)
#     return (np.sum(np.abs(y_pred-y_true)) / np.sum(y_true)) * 100

# def symmetric_mean_absolute_percentage_error(y_true, y_pred):
#     return 100 * np.mean(2 * np.abs(y_pred - y_true) / (np.abs(y_true) + np.abs(y_pred)))

# # Load the car sales data (replace 'car_sales.csv' with the actual file path)
# # car_sales_data = pd.read_csv('car_sales.csv')

# # Assuming 'actual' and 'predicted' are the actual and predicted sales columns
# y_actual = df['actual sales'].values
# y_predicted = df['forecasted sales'].values

# # Define models
# models = {
#     "Linear Regression": LinearRegression(),
#     "Random Forest": RandomForestRegressor(),
#     "Gradient Boosting": GradientBoostingRegressor(),
# }

# # Define evaluation metrics
# metrics = {
#     "MAE": mean_absolute_error,
#     "MSE": mean_squared_error,
#     "MAPE": mean_absolute_percentage_error,
#     "WMAPE": weighted_mean_absolute_percentage_error,
#     "SMAPE": symmetric_mean_absolute_percentage_error,
# }

# # Initialize dictionary to store average performance for each metric
# average_results = {}
# a = []
# # Perform cross-validation
# tscv = TimeSeriesSplit(n_splits=5)
# for metric_name, metric_func in metrics.items():
#     results = []
#     for train_index, test_index in tscv.split(y_actual):
#         y_train_actual, y_test_actual = y_actual[train_index], y_actual[test_index]
#         y_train_predicted, y_test_predicted = y_predicted[train_index], y_predicted[test_index]

#         # Calculate metric value
#         metric_value = metric_func(y_test_actual, y_test_predicted)
#         results.append(metric_value)
        
#         a.append(metric_value)

#     # Calculate average performance for the current metric
#     average_performance = np.mean(results)
#     average_results[metric_name] = average_performance

# # Find the best metric with the lowest average performance
# best_metric = min(average_results, key=average_results.get)
# best_performance = average_results[best_metric]

# Define custom evaluation metrics
def mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs(y_true - y_pred) / y_true) * 100

def weighted_mean_absolute_percentage_error(y_true, y_pred):
    return (np.sum(np.abs(y_pred-y_true)) / np.sum(y_true)) * 100

def symmetric_mean_absolute_percentage_error(y_true, y_pred):
    return 100 * np.mean(2 * np.abs(y_pred - y_true) / (np.abs(y_true) + np.abs(y_pred)))

def mean_absolute_error(y_true, y_pred):
    return np.mean(abs(y_pred-y_true))

def mean_squared_error(y_true, y_pred):
    return np.mean(y_pred-y_true)**2
   
def root_mean_squared_error(y_true, y_pred):
    return np.sqrt(np.mean(y_pred-y_true)**2)

# Assuming 'actual' and 'predicted' are the actual and predicted sales columns
# Load your dataframe here. For example, if you are loading from a csv file
# df = pd.read_csv('file_path.csv')

y_actual = df['actual sales'].values
y_predicted = df['forecasted sales'].values

# Define evaluation metrics
metrics = {
    "MAE": mean_absolute_error,
    "RMSE": root_mean_squared_error,
    "MSE": mean_squared_error,
    "MAPE": mean_absolute_percentage_error,
    "WMAPE": weighted_mean_absolute_percentage_error,
    "SMAPE": symmetric_mean_absolute_percentage_error,
}

# Calculate each metric and save the results
results = {metric_name: metric_func(y_actual, y_predicted) for metric_name, metric_func in metrics.items()}

print(results)

# Find the best metric with the lowest performance value
best_metric = min(results, key=results.get)

print(f"Best metric is {best_metric} with a performance of {results[best_metric]}")

{'MAE': 31.06511445086705, 'RMSE': 0.7583398843930633, 'MSE': 0.5750793802612847, 'MAPE': 83.09937290984014, 'WMAPE': 56.70271574689559, 'SMAPE': 59.69561406213983}
Best metric is MSE with a performance of 0.5750793802612847

In [24]:
# a = mean_squared_error()

In [25]:
# actual_sales_cols = [col for col in df.columns if col == 'actual sales']
# if len(actual_sales_cols) > 1:
#     # Check which 'actual sales' columns have numeric data types
#     numeric_cols = [col for col in actual_sales_cols if pd.api.types.is_numeric_dtype(df[col])]
    
#     if len(numeric_cols) == 0:
#         print("No numeric 'actual sales' columns to keep.")
#     else:
#         # If there are non-numeric 'actual sales' columns, drop them
#         if len(numeric_cols) < len(actual_sales_cols):
#             non_numeric_cols = list(set(actual_sales_cols) - set(numeric_cols))
#             df = df.drop(columns=non_numeric_cols)
#             print(f"Dropped non-numeric 'actual sales' columns: {non_numeric_cols}")
        
#         # If all 'actual sales' columns are numeric or after dropping non-numeric ones
#         # Keep only the first 'actual sales' column and drop the rest
#         df = df.loc[:, ~df.columns.duplicated(keep='first')]
#         print("Kept only one 'actual sales' column and dropped any duplicates.")

# # The modified DataFrame is now in df with only one 'actual sales' column
# print(df.head())

In [26]:
# if 'actual sales' not in df.columns:
#     # Column not found, so we generate a new dataframe
#     df = generate_custom_data(100)
    
#     # Remove the original test.csv file
#     file_path = 'C:/Users/proshan/OneDrive - SymphonyAI RETAIL CPG/Desktop/Projects/csv dataset generator/Downloads/test.csv'
#     os.remove(file_path)
    
#     # Save the newly generated dataframe as test.csv in the same location
#     df.to_csv(file_path, index=False)  # index=False to avoid saving the index column
    
#     print("Original file removed and new data saved as test.csv.")
# else:
#     print("Column 'actual sales' exists in the dataframe.")